VITE_TOLGEE_API_URL=https://app.tolgee.io
VITE_TOLGEE_API_KEY=
VITE_TRICORE_URL=https://api.tricore.dev/v1
VITE_TRICORE_AUTH_URL=http://host.docker.internal:8080/v1
PUBLIC_TRICORE_AUTH_URL=http://localhost:8080/v1

# Proxy envs
PROXY_JWT_SECRET=
PROXY_DATABASE_URL=

# Discord OAuth2 Config
PROXY_DISCORD_CLIENT_ID=
PROXY_DISCORD_CLIENT_SECRET=

# Github OAuth2 Config
PROXY_GITHUB_CLIENT_ID=
PROXY_GITHUB_CLIENT_SECRET=