PUBLIC_API_URL=http://host.docker.internal:8000
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
AUTH_SECRET=

VITE_TOLGEE_API_URL=https://app.tolgee.io
VITE_TOLGEE_API_KEY=
VITE_TRICORE_URL=https://api.tricore.dev
VITE_TRICORE_AUTH_URL=https://api.tricore.dev
