@import 'tailwindcss';

@theme {
	--font-sans: 'Figtree Variable', sans-serif;
	--font-mono: 'Space Mono', monospace;

	--color-*: initial; /* Disable the full Tailwind palette */

	--color-main-50: oklch(0.985 0 0);
	--color-main-100: oklch(0.967 0.001 286.375);
	--color-main-200: oklch(0.92 0.004 286.32);
	--color-main-300: oklch(0.871 0.006 286.286);
	--color-main-400: oklch(0.705 0.015 286.067);
	--color-main-500: oklch(0.552 0.016 285.938);
	--color-main-600: oklch(0.442 0.017 285.786);
	--color-main-700: oklch(0.37 0.013 285.805);
	--color-main-800: oklch(0.274 0.006 286.033);
	--color-main-850: oklch(0.234 0.006 286.033);
	--color-main-900: oklch(0.21 0.006 285.885);
	--color-main-950: oklch(0.141 0.005 285.823);

	--color-accent-50: oklch(0.962 0.018 272.314);
	--color-accent-100: oklch(0.93 0.034 272.788);
	--color-accent-200: oklch(0.87 0.065 274.039);
	--color-accent-300: oklch(0.785 0.115 274.713);
	--color-accent-400: oklch(0.673 0.182 276.935);
	--color-accent-500: oklch(0.585 0.233 277.117);
	--color-accent-600: oklch(0.511 0.262 276.966);
	--color-accent-700: oklch(0.457 0.24 277.023);
	--color-accent-800: oklch(0.398 0.195 277.366);
	--color-accent-900: oklch(0.359 0.144 278.697);
	--color-accent-950: oklch(0.257 0.09 281.288);

	--color-warning-dim: oklch(0.936 0.032 17.717);
	--color-warning: oklch(0.704 0.191 22.216);
	--color-warning-hard: oklch(0.505 0.213 27.518);

	--color-idle: oklch(0.828 0.189 84.429); /* amber 400 */
	--color-success: oklch(0.696 0.17 162.48); /* emerald 500 */

	--easing-circ: cubic-bezier(0.85, 0.09, 0.15, 0.91);
	--easing-spring: linear(
		0,
		0.03 1.5%,
		0.121 3.2%,
		0.851 13%,
		0.99 16.4%,
		1.063 20.2%,
		1.076 22.3%,
		1.075 24.8%,
		1.013 35.9%,
		0.995 43.4%,
		1
	);

	--shadow-window:
		0 0 7px 0 hsl(220deg 0% 0% / 0.05), 0 0 14px 0 hsl(220deg 0% 0% / 0.1),
		0 0 21px 0 hsl(220deg 0% 0% / 0.15);

	--shadow-window-lg:
		0 0 10px 0 hsl(220deg 0% 0% / 0.05), 0 0 30px 0 hsl(220deg 0% 0% / 0.1),
		0 0 30px 0 hsl(220deg 0% 0% / 0.15);

	--animate-fade-in: fade-in 300ms var(--easing-circ) forwards;

	@keyframes fade-in {
		0% {
			transform: scale(0.9);
			opacity: 0;
		}

		100% {
			transform: scale(1);
			opacity: 1;
		}
	}
}

@layer base {
	:root {
		interpolate-size: allow-keywords;
	}

	body {
		@apply text-main-200 antialiased;

		/* Prevent scrolling of body when a modal is open */
		&:has(dialog[open]) {
			@apply overflow-hidden;
		}
	}

	button {
		@apply inline-flex cursor-pointer items-center gap-3 font-medium outline-none;
	}

	strong {
		@apply font-medium;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
}

@utility container {
	margin-inline: auto;
	padding: 1.5rem;
}

@layer overrides {
	.prism-code-editor {
		--editor__bg: transparent !important;
		--editor__bg-highlight: transparent !important;
	}

	.monaco-editor {
		--vscode-editor-background: var(--color-main-800) !important;
		--vscode-editorGutter-background: var(--color-main-800) !important;
	}

	.monaco-editor .view-overlays .current-line {
		background: transparent !important;
	}

	.svelte-flow {
		--xy-edge-stroke: var(--color-accent-100);
		--xy-edge-stroke-width: 1.5px;
	}

	.svelte-flow__node:hover {
		position: relative;
		z-index: 10 !important;
	}

	[aria-label][data-balloon-pos]:hover:not(:active):after,
	[aria-label][data-balloon-pos]:hover:not(:active):before {
		transition-delay: 1s !important;
	}
}

@layer components {
	.tooltip-red {
		--balloon-color: var(--color-warning-dim);
		--balloon-text-color: var(--color-warning-hard);
	}

	.list-btn {
		@apply text-main-300 hover:bg-main-800 hover:text-main-200 flex items-center gap-2 rounded px-3 py-2 whitespace-nowrap transition-colors;
	}

	.list-btn--danger {
		@apply text-warning hover:text-warning-dim;
	}

	.error-msg {
		@apply bg-warning-dim text-warning-hard rounded-md p-4 text-center;
	}
}
