@import 'tailwindcss';

@property --border-gradient-angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

@theme {
	--font-sans: 'Figtree Variable', sans-serif;
	--font-mono: 'Space Mono', monospace;

	--color-*: initial; /* Disable the full Tailwind palette */

	--color-main-50: oklch(0.985 0 0);
	--color-main-100: oklch(0.967 0.001 286.375);
	--color-main-200: oklch(0.92 0.004 286.32);
	--color-main-300: oklch(0.871 0.006 286.286);
	--color-main-400: oklch(0.705 0.015 286.067);
	--color-main-500: oklch(0.552 0.016 285.938);
	--color-main-600: oklch(0.442 0.017 285.786);
	--color-main-700: oklch(0.37 0.013 285.805);
	--color-main-800: oklch(0.274 0.006 286.033);
	--color-main-850: oklch(0.234 0.006 286.033);
	--color-main-900: oklch(0.21 0.006 285.885);
	--color-main-950: oklch(0.141 0.005 285.823);

	--color-accent-50: oklch(0.962 0.018 272.314);
	--color-accent-100: oklch(0.93 0.034 272.788);
	--color-accent-200: oklch(0.87 0.065 274.039);
	--color-accent-300: oklch(0.785 0.115 274.713);
	--color-accent-400: oklch(0.673 0.182 276.935);
	--color-accent-500: oklch(0.585 0.233 277.117);
	--color-accent-600: oklch(0.511 0.262 276.966);
	--color-accent-700: oklch(0.457 0.24 277.023);
	--color-accent-800: oklch(0.398 0.195 277.366);
	--color-accent-900: oklch(0.359 0.144 278.697);
	--color-accent-950: oklch(0.257 0.09 281.288);

	/* tailwind: red */
	--color-danger-50: oklch(0.971 0.013 17.38);
	--color-danger-100: oklch(0.936 0.032 17.717);
	--color-danger-200: oklch(0.885 0.062 18.334);
	--color-danger-300: oklch(0.808 0.114 19.571);
	--color-danger-400: oklch(0.704 0.191 22.216);
	--color-danger-500: oklch(0.637 0.237 25.331);
	--color-danger-600: oklch(0.577 0.245 27.325);
	--color-danger-700: oklch(0.505 0.213 27.518);
	--color-danger-800: oklch(0.444 0.177 26.899);
	--color-danger-900: oklch(0.396 0.141 25.723);
	--color-danger-950: oklch(0.258 0.092 26.042);

	/* tailwind: amber */
	--color-warning-50: oklch(0.987 0.022 95.277);
	--color-warning-100: oklch(0.962 0.059 95.617);
	--color-warning-200: oklch(0.924 0.12 95.746);
	--color-warning-300: oklch(0.879 0.169 91.605);
	--color-warning-400: oklch(0.828 0.189 84.429);
	--color-warning-500: oklch(0.769 0.188 70.08);
	--color-warning-600: oklch(0.666 0.179 58.318);
	--color-warning-700: oklch(0.555 0.163 48.998);
	--color-warning-800: oklch(0.473 0.137 46.201);
	--color-warning-900: oklch(0.414 0.112 45.904);
	--color-warning-950: oklch(0.279 0.077 45.635);

	--color-success: oklch(0.696 0.17 162.48); /* emerald 500 */

	--easing-circ: cubic-bezier(0.85, 0.09, 0.15, 0.91);
	--easing-spring: linear(
		0,
		0.03 1.5%,
		0.121 3.2%,
		0.851 13%,
		0.99 16.4%,
		1.063 20.2%,
		1.076 22.3%,
		1.075 24.8%,
		1.013 35.9%,
		0.995 43.4%,
		1
	);
	--easing-out: cubic-bezier(0.25, 0, 0, 1);

	--shadow-window:
		0 0 7px 0 hsl(220deg 0% 0% / 0.05), 0 0 14px 0 hsl(220deg 0% 0% / 0.1),
		0 0 21px 0 hsl(220deg 0% 0% / 0.15);

	--shadow-window-lg:
		0 0 10px 0 hsl(220deg 0% 0% / 0.05), 0 0 30px 0 hsl(220deg 0% 0% / 0.1),
		0 0 30px 0 hsl(220deg 0% 0% / 0.15);

	--animate-fade-in: fade-in 300ms var(--easing-circ) forwards;

	@keyframes fade-in {
		0% {
			transform: scale(0.9);
			opacity: 0;
		}

		100% {
			transform: scale(1);
			opacity: 1;
		}
	}

	@keyframes border {
		100% {
			--border-gradient-angle: 360deg;
		}
	}
}

@layer base {
	:root {
		interpolate-size: allow-keywords;
	}

	body {
		@apply text-main-200 bg-main-900 antialiased;

		/* Prevent scrolling of body when a modal is open */
		&:has(dialog[open]) {
			@apply overflow-hidden;
		}
	}

	button {
		@apply inline-flex cursor-pointer items-center gap-3 font-medium outline-none;
	}

	strong {
		@apply font-medium;
	}

	dialog {
		@apply m-0 p-0;

		&:focus {
			outline: none;
		}
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
}

@utility container {
	margin-inline: auto;
	padding: 1.5rem;
}

@utility animate-border {
	animation: border 6s linear infinite;
	--border-gradient-angle: 0deg;
	border: 1px solid transparent;
	border-image: conic-gradient(
			from var(--border-gradient-angle),
			color-mix(in oklab, var(--color-main-800) 0%, transparent) 0%,
			color-mix(in oklab, var(--color-main-800) 20%, transparent) 22%,
			color-mix(in oklab, var(--color-main-100) 80%, transparent) 25%,
			color-mix(in oklab, var(--color-main-800) 20%, transparent) 28%,
			color-mix(in oklab, var(--color-main-800) 0%, transparent) 72%,
			color-mix(in oklab, var(--color-main-100) 80%, transparent) 75%,
			color-mix(in oklab, var(--color-main-800) 20%, transparent) 78%,
			color-mix(in oklab, var(--color-main-800) 0%, transparent) 100%
		)
		1 round;
}

@utility truncate-lines-* {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: --value(integer);
}

@layer overrides {
	.prism-code-editor {
		--editor__bg: transparent !important;
		--editor__bg-highlight: transparent !important;
	}

	.monaco-editor {
		--vscode-editor-background: var(--color-main-800) !important;
		--vscode-editorGutter-background: var(--color-main-800) !important;
	}

	.monaco-editor .view-overlays .current-line {
		background: transparent !important;
	}

	.svelte-flow {
		--xy-edge-stroke: color-mix(in oklab, var(--color-main-100) 50%, transparent);
		--xy-edge-stroke-width: 1.5px;
	}

	/* Override svelte flow's suspicious z-stacking */
	.svelte-flow__node:not(.dragging):not(.svelte-flow__node-selector-node) {
		transition:
			height 0.35s var(--easing-out),
			width 0.35s var(--easing-out),
			transform 0.2s var(--easing-out),
			opacity 0.5s var(--easing-out);
		z-index: -1 !important;
	}

	/* Keep only opacity transition for the selector node */
	.svelte-flow__node-selector-node {
		transition: opacity 0.5s var(--easing-out);
	}

	/* Make hover work on the full edge interaction bound and not just the visible stroke */
	.svelte-flow__edge {
		pointer-events: stroke;
	}

	/* Make sure node labels are above edges */
	.svelte-flow__edges {
		z-index: -1;
	}

	.svelte-flow__edge-label {
		display: contents;
	}

	@starting-style {
		.svelte-flow__node {
			opacity: 0;
		}
	}

	.svelte-flow__node:hover {
		position: relative;
	}

	[aria-label][data-balloon-pos]:hover:not(:active):after,
	[aria-label][data-balloon-pos]:hover:not(:active):before {
		transition-delay: 1s !important;
	}
}

@layer components {
	.tooltip-red {
		--balloon-color: var(--color-danger-200);
		--balloon-text-color: var(--color-danger-500);
	}

	.list-btn {
		@apply text-main-300 hover:bg-main-800 hover:text-main-200 flex w-full origin-center items-center gap-2 rounded px-3 py-2 whitespace-nowrap transition-all;
	}

	.list-btn--danger {
		@apply text-danger-400 hover:text-danger-500;
	}

	.error-msg {
		@apply bg-danger-100 text-danger-500 rounded-md p-4 text-center;
	}

	.eyebrow {
		@apply text-main-300 text-xs font-semibold tracking-wide uppercase;
	}

	.input-text {
		@apply border-main-700 bg-main-800 text-main-200 hover:border-main-600 focus:border-main-600 w-full rounded-md border px-3 py-2 text-sm transition outline-none;
	}
}
